In [1]:
# Dependencies and Setup
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

In [2]:
# Files to load
heart_data_to_load = r"C:\Users\RyanF\Documents\Bootcamp Challenges\Project-1\Resources\heart.csv"
heart_predict_to_load = r"C:\Users\RyanF\Documents\Bootcamp Challenges\Project-1\Resources\Heart_Disease_Prediction.csv"

In [3]:
# read heart and heart disease prediction csv
heart_data = pd.read_csv(heart_data_to_load)
heart_predict = pd.read_csv(heart_predict_to_load)

In [4]:
# assign heart_data DataFrame
heart_data_df = pd.DataFrame(heart_data)

# assign heart_predict dataframe

heart_predict_df = pd.DataFrame(heart_predict)

In [5]:
# columns
print(heart_predict.columns
     )

Index(['Age', 'Sex', 'Chest pain type', 'BP', 'Cholesterol', 'FBS over 120',
       'EKG results', 'Max HR', 'Exercise angina', 'ST depression',
       'Slope of ST', 'Number of vessels fluro', 'Thallium', 'Heart Disease'],
      dtype='object')

In [6]:
#disply heart_data_df
heart_data_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [7]:
heart_data_df_cc = heart_data_df.rename(columns={"age": "Age",
                                              "sex": "Sex",                                               
                                              "cp": "Chest pain type",
                                              "trestbps": "BP",   
                                              "chol": "Cholesterol",
                                              "fbs": "FBS over 120",
                                             "exang": "Exercise angina",
                                                "ca": "Number of vessels fluro"})
#disply
heart_data_df_cc

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,restecg,thalach,Exercise angina,oldpeak,slope,Number of vessels fluro,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [13]:
# merge heart data w/ corrected columns with heart predict dataframe
heart_data_merge = pd.merge(heart_data_df_cc, heart_predict_df, how="left", on=['Age', 
                                                                                 "Sex",
                                                                                 "Chest pain type",
                                                                                 "BP",
                                                                                 "Cholesterol",
                                                                                 "FBS over 120",
                                                                                 "Exercise angina",
                                                                                "Number of vessels fluro"
                                                                                ])

# display
heart_data_merge

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,restecg,thalach,Exercise angina,oldpeak,slope,Number of vessels fluro,thal,target,EKG results,Max HR,ST depression,Slope of ST,Thallium,Heart Disease
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0,NaN,NaN,NaN,NaN,NaN,NaN
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0,NaN,NaN,NaN,NaN,NaN,NaN
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0,NaN,NaN,NaN,NaN,NaN,NaN
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0,NaN,NaN,NaN,NaN,NaN,NaN
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1,NaN,NaN,NaN,NaN,NaN,NaN
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0,NaN,NaN,NaN,NaN,NaN,NaN
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0,NaN,NaN,NaN,NaN,NaN,NaN
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1,NaN,NaN,NaN,NaN,NaN,NaN
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# checking for NaN values in merge dataframe
nan_columns = heart_data_merge.isna().any()
print("Columns with NaN values:")
print(nan_columns)

Columns with NaN values:
Age                        False
Sex                        False
Chest pain type            False
BP                         False
Cholesterol                False
FBS over 120               False
restecg                    False
thalach                    False
Exercise angina            False
oldpeak                    False
slope                      False
Number of vessels fluro    False
thal                       False
target                     False
EKG results                 True
Max HR                      True
ST depression               True
Slope of ST                 True
Thallium                    True
Heart Disease               True
dtype: bool

In [20]:
# removing NaN columns from dataframe
heart_data_no_nan = heart_data_merge.dropna(axis=1)

# disply cleaned dataframe
heart_data_no_nan

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,restecg,thalach,Exercise angina,oldpeak,slope,Number of vessels fluro,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0